/*Enlaze del CSS con la librería de iconos de font-awesome 6.7.2*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
/* Importe al CSS de fuentes del repositorio de Google Fonts(Ubuntu,Space Grotesk) */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Declaración de variables */
:root {
    /* Variables para tipografias */
    --fuente1: "Ubuntu", sans-serif;
    --fuente2: "Space Grotesk", sans-serif;
    /* Variables para la paleta de colores */
    --color1: #16f953;
    --color2: #fff;
    --color3: #e2c4b1;
    --color4: #7e600b;
    --color5: #3D3D3D;
    --color6: #356c43;
    --color7: #e2cdbf;
    --color8: #f6f2f2f3;
}

/* Selector universal de elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Selectores de tipo HTML */

html {
    /*suavizas la velocidad de desplazamiento del botón scroll*/
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

p {
    margin-top: 0px;
    margin-bottom: 1.5em;

}

img,
iframe {

    display: block;

}

body {
    font-family: var(--fuente1);
    line-height: 1.5em;
}

table {

    border: 1px solid var(--color5);
    border-collapse: separate;
    /* quita espacio entre bordes */
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    /* hace q el contenido respete el redondeado */
    border-spacing: 0;
}



th,
td {

    border: 1px solid var(--color5);
    text-align: left;
    padding: 10px;
    border-radius: 0px;

}

caption {

    color: var(--color5);
    font-weight: bold;
    /* estilo negrita */
    margin-bottom: 20px;
    text-align: left;
    /* aliniacion ala izquierda */
    font-size: 1.2em;
    /* agranda la letra */
}

thead,
tfoot {

    background: var(--color7);

}

tfoot td {

    text-align: right;
    font-style: italic;
    /* Estilo recursivo */

}

/* Bordes redondeados en las esquinas de las tablas */

table tr:first-child th:first-child {

    border-top-left-radius: 10px;

}

table tr:first-child th:last-child {

    border-top-right-radius: 10px;

}

table tr:last-child td:first-child {

    border-bottom-left-radius: 10px;

}

table tr:last-child td:last-child {

    border-bottom-right-radius: 10px;

}


#cabecera {
    background-color: var(--color2);
    color: var(--color3);
    padding: 10px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#nosotros {
    background-color: var(--color3);
    color: var(--color5);

}

#adopcion {
    color: var(--color5);
}

#servicios {
    background-color: var(--color2);
    color: var(--color3);

}

#pie {
    background-color: var(--color5);
    color: var(--color2);
}

#testimonios {
    background-color: var(--color3);
    color: var(--color5);
}

#mapa-contacto {
    padding: 20px 0;
    /* Espaciado interno */
}

.contenedor {
    max-width: 75%;
    margin: auto;
}

.espaciado {
    padding-top: 90px;
    padding-bottom: 90px;
}

.ajustar-img {
    width: 100%;
    height: auto;
}

.ajustar-mapa {
    width: 100%;
    overflow: hidden;
    /*para evitar desbordes*/
    margin-top: 20px;

}



.ajustar-video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.form-campo {
    display: block;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font: inherit;
    outline: none;
    border: 2px solid var(--color5);
}

.boton-enviar {
    margin-top: 20px;
    background-color: var(--color3);
    color: var(--color5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font: inherit;
    border: none;
    cursor: pointer;
}

.enlace-privacidad {
    color: var(--color3);
    text-decoration: none;
}

.textarea-noresize {
    resize: none;
    border-bottom: 3px solid var(--color7);
}

input::placeholder,
textarea::placeholder,
select {
    color: var(--color5);
}

.galeria {

    display: flex;
    /* Activa el flexbox */
    gap: 30px;
    /* Espacio entre Items */
    justify-content: center;
    flex-wrap: wrap;
    /* Permite q los items pasen a otra linea */
    padding: 20px;

}


.item {

    width: 340px;
    background: var(--color8);
    text-align: center;
    width: 340px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;

}

.item img {

    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}



.item:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);

}





/* Animacion da un efecto de latido  */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

/* BOTÓN SIMPLE CON ANIMACIÓN */
.boton-adoptar {
    /* Estilos base */
    margin: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--color3);
    color: var(--color5);
    border: none;
    border-radius: 40px;
    font-family: var(--fuente1);
    font-weight: bold;
    /* Texto en negrita */
    cursor: pointer;
    /* cambia el curso a una mano  */

    /* Aplicando las animaciones */
    animation:
        pulse 2s infinite ease-in-out;
    /* la animacion empiesa y termina suavemente */

    /* Efecto hover para detener animación */
    transition: all 0.3s;

}

.boton-adoptar:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(247, 234, 61, 0.905);
    /* agrega una sombra amarilla  */
}





.ficha {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    /* Crea 2 columnas */
    gap: 8px 12px;
    /* Espacio entre filas y columnas */
    align-items: center;
    /* Alinea verticalmente */
}

.ficha li {
    display: contents;
    /* Elimina el "li" como contenedor */
}

.ficha strong {
    font-weight: bold;
    color: #333;
    text-align: right;
    /* Alinea los títulos a la derecha */
    min-width: 80px;
    /* Ancho mínimo para alinear */
}

.ficha span {
    color: #555;
}



#cabecera {
    background-color: var(--color2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.fijar-cabecera {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.cabecera-contenido {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bs-center {
    justify-content: space-between;
}

.bs-link {
    margin-right: 10px;
    color: var(--color2);
    text-decoration: none;
    /*Quita el subrayado*/

}

.logo-nombre {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-header {
    width: 120px;
    height: auto;
}

.nombre-header {
    font-size: 22px;
    font-weight: bold;
    color: var(--color3);
    white-space: nowrap;
}

.menu-header {
    display: flex;
    gap: 30px;
}

.menu-header a {
    color: var(--color5);
    font-weight: 500;
    padding: 10px 0;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

.menu-header a:hover {
    color: var(--color1);
}

.menu-header a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--color1);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.menu-header a:hover::after {
    width: 60%;
}

.info-contacto-footer {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color2);
}

.info-contacto-footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--color1);
}

.info-contacto-footer p {
    margin-bottom: 10px;
    color: var(--color2);
}

.scroll-up {
    /*Posiciona el boton en la parte inferior derecha de la ventana (viewport)*/
    position: fixed;
    bottom: 30px;
    right: 30px;
    /*Formato*/
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: var(--color3);
    color: var(--color5);
    border: 1px solid var(--color4);

}